{% extends 'core/base.html' %}

{% block body %}

<div class="container">
    <div class="row offset-3 offset-md-0 ">
        <div class="col-8 col-md-4">
            <a href="{{ url_for('core.list_tables', status='nonactive') }}" class="btn btn-danger btn-block mt-4 mb-4 py-4 pb-4">Open New Table</a>
        </div>
        <div class="col-8 col-md-4">
            <a href="{{ url_for('core.list_tables', status='active') }}" class="btn btn-danger btn-block mt-4 mb-4 py-4 pb-4">Active Tables</a>
        </div>
    </div>
</div>

{% endblock body %}