{% extends 'manager/base.html' %}

{% block body %}

<h1>Billing</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">
                Producto
            </th>
            <th scope="col">
                Cantidad
            </th>
            <th scope="col">
                P.U.
            </th>
            <th scope="col">
                P. Total
            </th>
        </tr>
    </thead>

    <!--  -->
    {% for i in bill %}
    <tr>
        <th scope=""row>
            {{ loop.index }}
        </th>
        <th scope=""row>
            {{ i.name}}
        </th>
        <th scope=""row>
            {{ i.quantity }}
        </th>
        <th scope=""row>
            {{ i.price }}
        </th>
        <th scope=""row>
            {{ i.price * i.quantity }}
        </th>
    </tr>
    {% endfor %}
    <!--  -->    
    
</table>

{% endblock body %}