{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row offset-3 offset-md-0 ">
        <div class="col-8 col-md-4">
            <a href="/open-new-table" class="btn btn-danger btn-block mt-4 mb-4 py-4 pb-4">Abrir Mesa</a>
        </div>
        <div class="col-8 col-md-4">
            <a href="/active-tables" class="btn btn-danger btn-block mt-4 mb-4 py-4 pb-4">Mesas Activas</a>
        </div>
        <div class="col-8 col-md-4">
            <a href="/billing" class="btn btn-danger btn-block mt-4 mb-4 py-4 pb-4">Pedir Cuenta</a>
        </div>
    </div>
</div>
{% endblock body %}